.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  width: 30%;
  max-width: 28rem;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding-bottom: 5em;
}
body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
  font-family: 'Nunito';
}

.button {
  background-color: #4253f0;
  color: white;
  width: 100%;
  min-height: auto;
}
button {
  border-radius: 0.5rem;
  width: 48%;
  min-height: auto;
}
#password,
#email,
#name {
  border-radius: 0.5rem;

  width: 100%;
  margin-top: 0.5rem;
  padding: 0.5em;
}

.sub {
  font-size: 1rem;
  font-weight: normal;
}
#nameError,
#checkError,
#passwordError,
#emailError {
  color: red;
  font-weight: bold;
  font-size: 0.7rem;
}

.divText {
  display: flex;
  justify-content: center;
}

.sepText {
  color: lightgray;
  font-size: 0.94re;
}

#googl {
  width: 0.87rem;
  height: 0.94rem;
}

#applebtn {
  width: 1.3rem;
  height: 0.94em;
}
